{
    # Kasih tahu Caddy urutan pengerjaan php_server
    frankenphp
    order php_server before file_server
}

:80 {
    # Root folder WordPress lo
    root * /var/www/html
    
    # Kompresi biar web enteng
    encode zstd br gzip

    # Jalankan PHP
    php_server
    
    # Melayani file statis (css, js, gambar)
    file_server
}