:80 {
    # Setup PHP Server khusus WordPress
    php_server

    # Kompresi biar loading ngebut
    encode zstd br gzip

    # Agar file statis langsung dilayani
    file_server

    log {
        output stdout
    }
}