services:
  wordpress:
    image: ${DOCKERHUB_USERNAME}/wp-franken:latest # Ganti pake image yang udah di-push
    restart: unless-stopped
    environment:
      - SERVER_NAME=${SERVER_NAME}
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=${DB_USER}
      - WORDPRESS_DB_PASSWORD=${DB_PASSWORD}
      - WORDPRESS_DB_NAME=${DB_NAME}
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - wp_data:/var/www/html/wp-content
    depends_on:
      - db

  db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  wp_data:
  db_data: